$background-color: #f5f5f5;
$underlineb-bc:#c9c9c9;
.second_box{
	padding:0 10%;
	margin-bottom: 15%;
}

.second_head{
	margin-top: 20px;
	line-height: 50px;
	}
.second_content{
	margin-bottom: 30px;
	p{
		line-height: 30px;
	}
}
.second_head_title{
	font-family: "Microsoft YaHei";
	font-size: 36px;
}
.second_head_author{	
    font-size: 25px;
    color: $underlineb-bc;
	}
.second_underline{
	height: 1px;
	width: 100%;
	background-color: $underlineb-bc;
}

.second_vote{
	position: fixed;
	height: 35px;
	width: 160px;
	bottom: 0;
	padding: 0 10%;
	background-color: #background-color;
	button{
		width: 15%;
		position: absolute;
		left: 50%;
		top: 20%;
		margin-left: -50px;
		background-color: #33c157;
		color: #ffffff;
	}
}
