{%extends 'base.html' %}
{% block page_content %}
		<div class="index_article">
		<div class="index_title">
			<div class="index_tag tag1">网文</div>
		</div>
		<div class="index_article_box">
			{% for article in articles %}
			<div class="index_article_content">
				<div class="index_article_line">
					<a class="index_article_title">{{ article.name }}</a>
					<div class="index_article_info">
						<span>{{ article.author_name }} ／文</span>
						<a>{{ article.liked_count }}</a>
						<a>{{ article.timestamp }}</a>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}