{% extends 'base.html' %}
	{% block page_content %}
	<div class="second_box">
	{% for article in article %}
		<div class="second_head">
			<span class="second_head_title">{{ article.name }}</span>
			<span class="second_head_author">{{ article.timestamp }}/{{ article.author_name }}</span>
		</div>
	{% endfor %}
		<div class="second_content"><p>
		刚读完了阮一峰老师的博客文集。他是我心目中中文技术文章写得最好的人。


		我第一次知道他是个经济学博士时颇感意外，经济学博士竟然把BM算法和文本编码讲的那么透彻易懂，仿佛它们本来就这么简单似的。这样的写作我之前只在英文作品中见过，比如Richard Stevens的《unix环境高级编程》。


		去年阮一峰老师辞去了高校的教职加入阿里巴巴，这让我想起他博客文集中的一篇文章：中科院历史研究所29岁的樊铧博士自杀身亡，阮一峰说“我不认识他，不知道他为什么要自杀，但是我觉得我很理解他…不是亲身待在这个圈子里，很难体会那种挫折感和绝望"。


		我也不认识阮一峰老师，不能也不会对自己最崇拜的作者选择放弃教职而将自己爱好的互联网技术作为职业妄加评论。
		我只依稀记得经济学中有这么一个基础的观点：事情（交易）只有在双方都认为对自己有利时才会发生。
		而既已选择，就像阮一峰老师曾经摘记的黑客帝国中先知的那句话：
		“你来到这里不是为了做选择，你早已选择了。你来到这里的目的，是为了了解你为什么这样选择”。
	</div>
	{% endblock %}
	{% block vote_button %}
	<div class="second_vote">
		<button class="second_vote_bt">投票</button>
	</div>
	{% endblock %}
	{% block flash_message %}
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul class="submite_flash">
			{% for message in messages %}
			<li>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
	{% endblock %}