{% extends 'base.html' %}
{% block page_content %}
		<div class="index_tu">
		<div class="index_title">
			<div class="index_tag tag2">{{ name }}</div>
		</div>
		<div class="index_tu_box">
			{% for i in animes %}
			<div class="index_tu_content">
				<div class="index_tu_img"><img src=""></div>
				<div class="index_tu_info_box">
					<div class="index_tu_info">
						<p>{{ i.title }}</p>
						<a>{{ i.date }}</a>
						<a>{{ i.author }}</a>
					</div>
					<div class="index_tu_like">
						<img src="../static/img/heart.png">
						<a>{{ i.like }}</a>
					</div>
				</div>
			</div>
			{% endfor %}
			<div class="index_tu_content index_blank"></div>
			<div class="index_tu_content index_blank"></div>
		</div>
	</div>
{% endblock %}