{% extends 'base.html' %} 
{% block page_content %}
	<div class="index_banner"></div>
	<div class="index_notice">
		<div class="index_title">
			<div class="index_tag tag1">通知</div>
			<a class="index_more">更多 ></a>
		</div>
		<div class="index_notice_box">
			<div class="index_notice_content">
				<div class="index_notice_dot"></div>
				<a class="index_notice_time">10-12</a>
				<p class="index_notice_line">华中师范大学首届网络创意文化节</p>
			</div>
			<div class="index_notice_content">
				<div class="index_notice_dot"></div>
				<a class="index_notice_time">10-12</a>
				<p class="index_notice_line">华中师范大学首届网络创意文化节</p>
			</div>
			<div class="index_notice_content">
				<div class="index_notice_dot"></div>
				<a class="index_notice_time">10-12</a>
				<p class="index_notice_line">华中师范大学首届网络创意文化节</p>
			</div>
			<div class="index_notice_content">
				<div class="index_notice_dot"></div>
				<a class="index_notice_time">10-12</a>
				<p class="index_notice_line">华中师范大学首届网络创意文化节</p>
			</div>
			<div class="index_notice_content">
				<div class="index_notice_dot"></div>
				<a class="index_notice_time">10-12</a>
				<p class="index_notice_line">华中师范大学首届网络创意文化节</p>
			</div>
		</div>
	</div>
	<div class="index_tu">
		<div class="index_title">
			<div class="index_tag tag2">电影</div>
			<a class="index_more">更多 ></a>
		</div>
		<div class="index_tu_box">
			<div class="index_tu_content">
				<div class="index_tu_img"><img src=""></div>
				<div class="index_tu_info">
					<div class="index_tu_info">
						<p>未完待续的青春</p>
						<a>3-22</a>
						<a>白思家</a>
					</div>
				</div>
			</div>
			<div class="index_tu_content">
				<div class="index_tu_img"><img src=""></div>
				<div class="index_tu_info_box">
					<div class="index_tu_info">
						<p>未完待续的青春</p>
						<a>3-22</a>
						<a>白思家</a>
					</div>
				</div>
			</div>
			<div class="index_tu_content">
				<div class="index_tu_img"><img src=""></div>
				<div class="index_tu_info">
					<div class="index_tu_info">
						<p>未完待续的青春</p>
						<a>3-22</a>
						<a>白思家</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="index_artical">
		<div class="index_title">
			<div class="index_tag tag1">通知</div>
			<a class="index_more">更多 ></a>
		</div>
		<div class="index_artical_box">
			<div class="index_artical_content">
				<div class="index_artical_line"></div>
			</div>
		</div>
		<div class="index_artical_box">
			<div class="index_artical_content">
				<div class="index_artical_line"></div>
			</div>
		</div>
		<div class="index_artical_box">
			<div class="index_artical_content">
				<div class="index_artical_line"></div>
			</div>
		</div>
		<div class="index_artical_box">
			<div class="index_artical_content">
				<div class="index_artical_line"></div>
			</div>
		</div>
	</div>
	<div class="index_tu">
		<div class="index_title">
			<div class="index_tag tag2">摄影</div>
			<a class="index_more">更多 ></a>
		</div>
		<div class="index_tu_box">
			<div class="index_tu_content">
				<div class="index_tu_img"><img src=""></div>
				<div class="index_tu_info">
					<div class="index_tu_info">
						<p>未完待续的青春</p>
						<a>3-22</a>
						<a>白思家</a>
					</div>
				</div>
			</div>
			<div class="index_tu_content">
				<div class="index_tu_img"><img src=""></div>
				<div class="index_tu_info_box">
					<div class="index_tu_info">
						<p>未完待续的青春</p>
						<a>3-22</a>
						<a>白思家</a>
					</div>
				</div>
			</div>
			<div class="index_tu_content">
				<div class="index_tu_img"><img src=""></div>
				<div class="index_tu_info">
					<div class="index_tu_info">
						<p>未完待续的青春</p>
						<a>3-22</a>
						<a>白思家</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="index_tu">
		<div class="index_title">
			<div class="index_tag tag1">动漫</div>
			<a class="index_more">更多 ></a>
		</div>
		<div class="index_tu_box">
			<div class="index_tu_content">
				<div class="index_tu_img"><img src=""></div>
				<div class="index_tu_info">
					<div class="index_tu_info">
						<p>未完待续的青春</p>
						<a>3-22</a>
						<a>白思家</a>
					</div>
				</div>
			</div>
			<div class="index_tu_content">
				<div class="index_tu_img"><img src=""></div>
				<div class="index_tu_info_box">
					<div class="index_tu_info">
						<p>未完待续的青春</p>
						<a>3-22</a>
						<a>白思家</a>
					</div>
				</div>
			</div>
			<div class="index_tu_content">
				<div class="index_tu_img"><img src=""></div>
				<div class="index_tu_info">
					<div class="index_tu_info">
						<p>未完待续的青春</p>
						<a>3-22</a>
						<a>白思家</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="index_tu">
		<div class="index_title">
			<div class="index_tag tag2">微电影</div>
			<a class="index_more">更多 ></a>
		</div>
		<div class="index_tu_box">
			<div class="index_tu_content">
				<div class="index_tu_img"><img src=""></div>
				<div class="index_tu_info">
					<div class="index_tu_info">
						<p>未完待续的青春</p>
						<a>3-22</a>
						<a>白思家</a>
					</div>
				</div>
			</div>
			<div class="index_tu_content">
				<div class="index_tu_img"><img src=""></div>
				<div class="index_tu_info_box">
					<div class="index_tu_info">
						<p>未完待续的青春</p>
						<a>3-22</a>
						<a>白思家</a>
					</div>
				</div>
			</div>
			<div class="index_tu_content">
				<div class="index_tu_img"><img src=""></div>
				<div class="index_tu_info">
					<div class="index_tu_info">
						<p>未完待续的青春</p>
						<a>3-22</a>
						<a>白思家</a>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- 	<div>
	{% for i in info %}
	<li>{{ info[i] }}</li>
	{% endfor %}
 -->
 {% endblock %}