	{%extends 'base.html' %}
	{% block page_content %}
	<div class="rank-main">
	<div class="rank-movie-block">
		<div class="rank-movie-head">电影</div>
		<div class="rank-movie-rank">
			{% for rank_movie in rank_movie %}
			<div class="rank_content"><a href="">{{ rank_movie.name }}</a><span>{{ rank_movie.liked_count}}</span></div>
			{% endfor %}
		</div>
	</div>
	<div class="rank-text-block">
		<div class="rank-text-head">网文</div>
		<div class="rank-text-rank">
			{% for rank_article in rank_article %}
			<div class="rank_content"><a href="">{{ rank_article.name }}</a><span>{{ rank_article.liked_count}}</span></div>
			{% endfor %}
		</div>
	</div>
	<div class="rank-photo-block">
		<div class="rank-photo-head">摄影</div>
		<div class="rank-photo-rank">
			{% for rank_photo in rank_photo %}
			<div class="rank_content"><a href="">{{ rank_photo.name }}</a><span>{{ rank_photo.liked_count}}</span></div>
			{% endfor %}
		</div>
	</div>
	<div class="rank-catoon-block">
		<div class="rank-catoon-head">动漫</div>
		<div class="rank-catoon-rank">
			{% for rank_anime in rank_anime %}
			<div class="rank_content"><a href="">{{ rank_anime.name }}</a><span>{{ rank_anime.liked_count}}</span></div>
			{% endfor %}
		</div>
	</div>
	<div class="rank-course-block">
		<div class="rank-course-head">微课程</div>
		<div class="rank-course-rank">
			{% for rank_course in rank_course %}
			<div class="rank_content"><a href="">{{ rank_course.name }}</a><span>{{ rank_course.liked_count}}</span></div>
			{% endfor %}
		</div>
	</div>
	</div>
	{% endblock %}